---
import MainLayout from "../layouts/MainLayout.astro";
import siteConfig from "../site.config";
---

<MainLayout activePage="about" pageTitle="kanyo | About">
  <div class="page-content">
    <h1 class="sigmar-ff text-balance">{siteConfig.about?.title}</h1>
    <img
      class="rounded-4xl mb-8 mx-auto max-h-[500px] object-cover w-full"
      src="/nightfury.jpg"
      alt="Night Fury"
    />
    <p class="kanit-light text-left">
      {siteConfig.about?.text}
    </p>
  </div>
</MainLayout>
